__pycache__/
*.py[cod]
*$py.class

*.so

.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

keyfile.key
password.key

*.log
*.sqlite3

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.code-workspace

htmlcov/
.coverage
.coverage.*

*.bak
*.swp
